@page "/obdelnik3"

<PageTitle>Obdélník</PageTitle>

<h1>Obdélník - přepočtení hned</h1>
<label for="a">Zadejte délku strany a:</label>
<input type="number" id="a" @bind="obdelnik.StranaA" @bind:event="oninput" />
<br />
<label for="b">Zadejte délku strany b:</label>
<input type="number" id="b" @bind="obdelnik.StranaB" @bind:event="oninput" />

<br />
<hr />
<p>Obvod obdélníku je: @obdelnik.Obvod</p>
<p>Obsah obdélníku je: @obdelnik.Obsah</p>
<p>Uhlopříčka je: @obdelnik.Uhlopricka</p>
@code {
	private Models.Obdelnik2 obdelnik = new Models.Obdelnik2();
}
